
#pedido {
    background-color: #898989 ;
    min-height: 100%;

  }
  #columna1 {
    min-height: 100%;
    background-color: #E2E2E2;
  }
  
ul{
  list-style-type: none;

}

li{
  padding-top: 5px;
}

#items{
margin-top: 3%;
}
#items1{
  margin-top: 3%;
}
#items2{
  margin-top: 3%;
}
#items3{
  margin-top: 3%;
}
.col{

  justify-content: center;
  align-content: center;
  text-align: center;

}