.header{
    background-color: #E2E2E2;
    width: 100%;
    left: 0;
    top: 0;
    align-self: flex-start;    
    display: flex;
}

.footer{
    align-self: flex-end;
    text-align: center;
    width: 100%;
    bottom:0;
    left: 0;
    z-index:999999;
    background-color: #E2E2E2;
}

#imagen{
    width: 12%;
    height: 12%;
}